.title-main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color:darkslategray;
    text-align: center;
    margin: 0%;
    padding: 0%;
    background-color: antiquewhite;



}